<html>
<head>
	<title>welcome</title>
</head>
<body>
	<h1>Welcome </h1>
	<form action="main/evaluate">
		<input type="hidden" name="action" value="start"/>
	<h2><input type='submit' value="Start"/></h2>
	</form>
</body>
</html>
